body {
	font-family: sans-serif;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

.header {
    margin-top: 63px;

}

.header-logo-title {
    color: #4BCAFF;
}

.header-logo-link {
    font-size: 80px;
    margin-top: 63px;

    text-decoration: none;
    color: black;
}

.header-menu {
    display: flex;
    flex-wrap: nowrap;
    list-style-type: none; 
    background-color:#35444F;
    margin-top: 42px;
    margin-bottom: 49px;
    justify-content: center;
    align-items: center;
    padding-inline-start: 0;
    /* сорок минут сидів думав над цим, поки
    не найшов в браузері цю функцію... пон */
}

.header-menu-title {
    color: white;
    border-right: 1px solid white;
    padding-top: 20px;
    padding-bottom: 20px;
    
}

.header-menu-title:nth-child(1) {
    border-left: 1px solid white;
}

.header-menu-link {
    background-color: #35444F;
    text-decoration: none;
    color: white;
    padding-top: 19px;
    padding-bottom: 19px;
    padding-left: 40px;
    padding-right: 40px;
}

.header-menu-link:hover {
    background-color: #222F3A;
    transition: 1s;
    
}

/* Нижче йде мейн */

main {
    display: flex;
    width: 100%;
}

.main-list {
    display: flex;
    justify-content: space-between;
    width: 285px;
    height: max-content;
    border: 1px solid #000;
    box-sizing: border-box;
    
}

.main-list-menu {
    display: flex;
    font-size: 27px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    flex-direction: column;
    list-style-type: none;
    box-sizing: border-box;
    flex-wrap: nowrap;
}

.main-list-item {
    padding: 15px 39px;
}

.main-list-item-link {
    color: black;
    text-decoration: none;
}

.main-list-item:hover {
    background-color: #DBDBDB;
    transition: 1s;
    padding: 15px 59px;
}

.main-rightside-info {
    width: 66.6%;
    margin-left: 52px;

}

.main-image {
    text-align: center;
    border: 1px solid #000;
    width: 885px;
    height: auto;
    margin-bottom: 37px;
}

.main-info-paragraph-second {
    margin-bottom: 37px;
}



/* Нижче йде футер */

.footer-menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 1px;
    background-color: #63696E7A;
    height: 69px;
    
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    padding-inline-start: 0;

}

.footer-menu-item {
    padding-top: 20px;
    padding-left: 30px;
}

.footer-menu-item:hover {
    color: #3181a6;
    transition: 1s;
    text-decoration: underline;
}

.footer-menu-item-last {
    margin-left: auto;
    margin-top: 20px; ;
    margin-right: 30px;
}

.footer-link {
    text-decoration: none;
    color: #000;
}